/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 1% 4%;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
  margin-left: 15px;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

footer {
  background-color: #000000;
  color: white;
  margin-top: 20%;
  text-align: center;
  padding: 1%;
}

header {
  position: static; /*quiero ponerle fixed pero no me queda... T__T*/
  overflow: hidden;
  height: 90px;
}

#block {
  display: inline-block;
  /*margin-left: 10%;*/
}

#center {
  text-align: center;
}

.contenedor-general {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

.color-fondo {
  background-color: #f17c72;
  position: absolute;
  margin-top: -9%;
}

.position-text {
  position: relative;
  color: white;
  text-align: center;
}

.position-img {
  position: absolute;
}

.position-logo  {
  float: right;
  width: 30%;
  text-align: right;
}

.style-header {
  float: left; /*  */
  width: 70%;
  margin-left: 20px;
  margin-top: 25px;
  font-size: 18px;
  font-weight: bold;
}

.square-green {
  width: 53px;
  height: 27px;
  background-color: green;
  position: relative;
  margin-left: 50%;
}

.separation {
  margin-bottom: 42%;
}

.style-text-pink {
  color: white;
  text-align: center;
}

.font-white {
  text-align: center;
  color: white;
  line-height: 0px;
  font-weight: bold;
}

.margin1 {
  margin-left: 15%;
}

.margin2 {
  margin-left: 35%;
}

.margin3 {
  margin-left: 55%;
}

.size-image {
  width: 80%;
  height: 80%
}

.separation2{
  margin-top: 100%;
}

.space {
  margin-bottom: 5%;
}

.bloque1 > img{
  display: inline-block;
  width: 30%;
  height: 30%;
  margin-top: 110%;
}

.bloque2 > img{
  display: inline-block;
  width: 30%;
  height: 30%;
  margin-top: 15%;
}

.bloque3 > img{
  display: inline-block;
  width: 30%;
  height: 30%;
  margin-top: 15%;
}

.separation > position-img {
  width: 100%; /* margen para que ocupe el 100% de su contenedor, cómo ajustarlo??*/
}

.three-images > img {
  display: inline-block;
  width: 30%;
  height: 30%;
  padding: 7%;
  margin-left: 2%;
}

.position-logo img {
  width: 21%;
  /*position: relative;*/
  margin-right: 171px;
  margin-top: -50px;
}

.header > div > a {
  padding-left: 10px;
}
